.gamewindow {
    margin-top: 0px;
    min-height: 500px;
}

.gamewrapper {
    position: relative;
    background-color: #deded7;
    width: 100%;
    min-height: 500px;
}

.q-wrapper {
    padding-left: 20px;
}

#optionsRight {
    padding-right: 50px;
    clear: both;
}

#restart {
    cursor: pointer;
}