.gamewindow {
    margin-top: 0px;
    min-height: 500px;
}

.gamewrapper {
    position: relative;
    background-color: #deded7;
    width: 100%;
    min-height: 500px;
}

.q-wrapper {
    padding-left: 20px;
}

#optionsRight {
    padding-right: 50px;
    clear: both;
}

#restart {
    cursor: pointer;
}

.q-header {
    font-size: 1.4em;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 20px;
    width: 80%;
    text-align: left;
    clear: both;
}